/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* header styles start */

header {
    background-color: orange;
    padding: 10px 0px;
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h3 {
    font-size: 24px;
    color: #fff;
}

.res-menu {
    display: none;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    color: #fff;
    margin-left: 30px;
}

/* header styles end */

/* ===========================
        main part start
        ======================= */
main {
    width: 80%;
    margin: auto;
}

/* journey part start */

.journey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    margin-top: 100px;
    align-items: center;
}

.titel {
    font-size: 60px;
    color: #3A3A3A;

}

.content {
    margin: 80px 0px;
    color: #3A3A3A;
}

.btn {
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: orange;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.jouurney-pic img {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(234, 195, 122);
    border-radius: 50%;
    padding: 50px;
}

/* journey part end */
/* company logo part start */
.company-logo {
    margin: 100px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px -5px gray;
    padding: 30px;
}

/* company logo part end */
/* Popular Collection part start */
.blogs {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.blog img {
    width: 100%;
}

.blog {
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    border: 2px solid #ccc;

}

.title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.blog h3 {
    font-weight: normal;
}

.star {
    color: #FB8200;
    margin-bottom: 5px;
}

.blog p {
    color: #787885;
    font-weight: bold;
}



.rating {
    display: flex;
    gap: 20px;

}

/* Popular Collection part end */
/* product part start */
.product {
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
}



.product img {
    width: 100%;
}

.product p {
    color: #787885;
    font-weight: bold;
    margin: 20px 0px;
}

.product button {
    padding: 10px 25px;
    color: #fff;
    background-color: orange;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* product part end */

/* ===========================
        main part end
        ======================= */
/* footer part start */
footer {
    background-color: #0A0826;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}

.social {
    font-size: 18px;
    margin-top: 30px;
}

.fa-brands {

    font-size: 30px;
    margin-left: 20px;
}

/* footer part end */

/* responsive styles */
@media screen and (max-width:576px) {
    .res-menu {
        display: flex;


    }

    .res-menu a {
        height: 24px;
        width: 24px;
        color: #fff;


    }



    .menu {
        display: none;
    }
}

/* responsive style end */