/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* header styles start */

header {
    background-color: orange;
    padding: 10px 0px;
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h3 {
    font-size: 24px;
    color: #fff;
}

.res-menu {
    display: none;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    color: #fff;
    margin-left: 30px;
}

/* header styles end */

/* ===========================
        main part start
        ======================= */
main {
    width: 80%;
    margin: auto;
}

/* journey part start */

.journey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    margin-top: 100px;
    align-items: center;
}

.titel {
    font-size: 60px;
    color: #3A3A3A;

}

.content {
    margin: 80px 0px;
    color: #3A3A3A;
}

.btn {
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: orange;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.jouurney-pic img {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(234, 195, 122);
    border-radius: 50%;
    padding: 50px;
}

/* journey part end */
/* company logo part start */
.company-logo {
    margin: 100px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px -5px gray;
    padding: 30px;
}

/* company logo part end */

/* ===========================
        main part end
        ======================= */


/* responsive styles */
@media screen and (max-width:576px) {
    .res-menu {
        display: flex;


    }

    .res-menu a {
        height: 24px;
        width: 24px;
        color: #fff;


    }



    .menu {
        display: none;
    }
}

/* responsive style end */